<server description="Ping Pong Liberty server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>mpHealth-2.2</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="openliberty-ping-pong.war" contextRoot="/"/>

    <logging consoleLogLevel="INFO"/>
</server>